h1{
    color: red;
    display: block;
    text-align: center;
    font-size: xxx-large;
    height: 100px;
  }
  .container {
    display: flex;
    justify-content:space-around;
    text-align: center;
    height: 200px;
    ;
  }
  #hide,
  #unhide 
 {
    color: purple;
    font-size: 28px;
     
  }